name: Deploy Javadoc to GitHub Pages
on:
  push:
    branches:
      - main
    paths:
      - mcbyggnadlib
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: oracle
      - name: Build Javadoc
        run: |
          mvn javadoc:javadoc -pl mcbyggnadlib
      - name: Upload Javadoc Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./apidocs
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
        name: Deploy to GitHub Pages
        id: deployment
